<div class="page-header"> 
  <h1><%= @user.full_name %></h1>
</div>

<div class="row">
  <div class="span5">   
    <% if @user.posts || @user.comments %>
      <legend><%= @user.first_name %>'s posted articles</legend>
      <% @user.posts.each do |post| %>
        <div class="well">
          <%= link_to "#{post.title}", post %> 
          <small><%= time_ago_in_words(post.created_at) %> ago </small>
          <span class="pull-right"><%= post.average_rating %></span><br />
          <% if post.image? %>
            <%= link_to(image_tag("#{post.image_url(:thumb)}", :alt => "#{post.content}"), post) %>
          <% end %>
        </div>  
      <% end %>
      <legend><%= @user.first_name %>'s comments</legend>
      <% @user.comments.each do |comment| %>
        <div class="well">
          <%= link_to "#{comment.title}", post_comment_path(comment.post_id, comment.id) %>
          <small><%= time_ago_in_words(comment.created_at) %> ago </small>
          <span class="pull-right"><%= comment.average_rating %></span><br />
          <% if comment.image? %>
            <%= link_to(image_tag("#{comment.image_url(:thumb)}", :alt => "#{comment.content}"), post_comment_path(comment.post.id, comment.id)) %>
          <% end %>
        </div>  
      <% end %>
    <% end %>
  </div>

  <div class="span4 pull-right">
    <h4>User Rating: <%= @user.user_rating %></h4>
  </div>
  
</div>