
<div class="row">
  <div class="span4">
    <div class="dropdown">
      <% if user_signed_in? %>
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "well" }) do |f| %>
      <%= devise_error_messages! %>
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        Edit Registration
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <fieldset>
          <li><a tabindex="-1"><%= f.input :email, :autofocus => true %></a></li>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <li><a tabindex="-1"><%= f.input :password, :autocomplete => "off" %></a></li>
          <li><a tabindex="-1"><%= f.input :password_confirmation %></a></li>
          <li><a tabindex="-1"><%= f.input :current_password %></a></li>
          <li><a tabindex="-1"><div><%= f.button :submit, "Update" %></div></a></li>
      
          <br/ ><br />
          <h4>Unhappy with Droplet?</h4>
        <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
        </fieldset>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="span6">   
    <% if @user.posts || @user.comments %>
      <legend><%= @user.first_name %>'s posted articles</legend>
      <% @user.posts.each do |post| %>
        <div class="well">
          <%= link_to "#{post.title}", post %> 
          <small><%= time_ago_in_words(post.created_at) %> ago </small>   
        </div>  
      <% end %>
      <legend><%= @user.first_name %>'s comments</legend>
      <% @user.comments.each do |comment| %>
        <div class="well">
          <%= link_to "#{comment.title}", post_comment_path(comment.post_id, comment.id) %> 
          <small><%= time_ago_in_words(comment.created_at) %> ago </small>   
        </div>  
      <% end %>
    <% end %>
  </div>
</div>