<div class="page-header" class="row">
  <h1>Commentary</h1>
  <%= link_to 'Post a New Article', new_post_path, class: "btn btn-success" %>
</div>
  

<% @posts.each do |post| %>
  <%= div_for(post, :class => "posts") do %>
    <div class="article">
      <div class="row">
        <div class="span2">
          <div class="well">  
            <h5><%= link_to "#{post.title}", post %></h5>
            <p><em><%= post.user.full_name %></em> | <%= time_ago_in_words(post.created_at) + " ago" %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>