<div class="row">
  <div class="span6 offset3">
    <div class="hero-unit" id="Primary">
      <p>
        <h2><%= @post.title %></h2>
        <em><%= link_to "#{@post.user.full_name}", profile_path(@post.user.profile_name) %></em>
      </p>
      
      <p>
        <b>Category:</b>
        <%= @post.category %>
      </p>
      <p>
        <b>Location:</b>
        <%= @post.location %>
      </p>

      <% if @post.image? %>
        <!-- Image will return nil if no image in database so add .to_s to make sure it works with image_tag -->
        <p><%= image_tag @post.image_url.to_s %></p>
      <% end %>

      <p>
        <%= @post.content %>
      </p><br />

      <div id="rating">
        <%= render "ratings/rating" %>
      </div>
      <div class="author-options pull-right">
        <% if signed_in? %>
          <% if current_user.id == @post.user_id %>
            <small><%= link_to 'Edit', edit_post_path(@post) %> |
            <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></small>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= render @post.comments %>
</div>

<div id="Comment Form">
  <%= render "comments/form" %>
</div>






